* {
    margin: 0;
    padding: 0;
}
ul:nth-child(1) {
    background-color: green;
    list-style: none;
    text-align: center;
    margin: 0;
}
ul:nth-child(1) li {
    display: inline;
}
ul:nth-child(1) li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 15px;
}
ul:nth-child(1) li a:hover {
    background-color: black;
}
